{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta charec set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- Page Title -->
        <title>Themefisher.Free Bootstrap3 based HTML5 Templates</title>		
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
        <meta name="author" content="Muhammad Morshed">
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Google Font -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

		<!-- CSS
		================================================== -->
        <!--CHARST-->
        <link rel="stylesheet" href="{% static 'wedd_app/css/charts.css' %}">

		<link rel="stylesheet" href="{% static 'wedd_app/css/timeline.css' %}">
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{% static 'wedd_app/css/font-awesome.min.css' %}">
		<!-- Twitter Bootstrap css -->
        <link rel="stylesheet" href="{% static 'wedd_app/css/bootstrap.min.css' %}">
		<!-- jquery.fancybox  -->
        <link rel="stylesheet" href="{% static 'wedd_app/css/jquery.fancybox.css' %}">
		<!-- animate -->
        <link rel="stylesheet" href="{% static 'wedd_app/css/animate.css' %}">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{% static 'wedd_app/css/main.css' %}">
		<!-- media-queries -->
		<link rel="stylesheet" href="{% static 'wedd_app/css/media-queries.css' %}">
		

		<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>

		<!-- Modernizer Script for old Browsers -->
        <script src="{% static 'wedd_app/js/modernizr-2.6.2.min.js' %}"></script>


		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

		

		<!--FONT-->
		<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
            


        <script src="{% static 'wedd_app/js/Chart.js'%}"></script>


			<!--@import url('https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda');

.row {
  font-size: 18pt;
  font-weight: 600;
}

.font_meie_script {
  font-family: 'Pacifico', cursive;
}
-->

<style>
body{background-color: rgb(196, 196, 196);}
    
</style>


	
		

    </head>
	
    <body id="body">
		
		
			<!-- <audio src="{% static 'wedd_app/music/background.mp3' %}" id="my_audio" loop="loop"></audio>
			<script type="text/javascript">
				setTimeout(function(){
					//This area will be used to write code
					document.getElementById("my_audio").play();
					var audio = document.getElementById("my_audio");
  					audio.volume = 0.2;

				}, 3000)

			</script> -->



		
	
		<!-- preloader -->
		<div id="preloader">
			<img src="{% static 'wedd_app/img/preloader.gif' %}" style="width: 50px;" alt="Preloader">
		</div>
		<!-- end preloader -->

        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="transperant navbar-fixed-top navbar">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
					<!-- /responsive nav button -->

					<!-- logo -->
                    <a class="navbar-brand" href="#body">
						<h1 id="logo">
							<img height="100px" src="{% static 'wedd_app/img/logo.png' %}" alt="Brandi">
						</h1>
					</a>
					<!-- /logo -->


				

					

                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="current"><a href="/dashboard">Home</a></li>
                        <li><a href="/admin" target="blank">ADMIN</a></li>
                        <li><a href="#works">Галерия</a></li>
                        <li><a href="#team"></a></li>	
						
						
                    </ul>
                </nav>
				<!-- /main nav -->
				

				

			</div>
			
			

        </header>
      
      








		
        <div class="container" style="margin-top: 100px;">

           

            	<hr>
				<h1 style="text-align: center;">ПОКАНИ</h1>
				<hr>

            <div class="container" >
                <div class="row" >
                  <div class="col col-lg-5" style="background-color:rgb(248, 211, 248);border-radius: 24px;">

                    


                     <!-- SERVER STATUS PANELS -->
                    <h3 style="text-align: center; margin-top: 10px;">Покани Вики</h3>
                  <div class="grey-header" style="text-align: center; margin-top: 10px;">
                    <h5>Процент потвърдили присъствие</h5>
                  </div>
                  <canvas id="serverstatus01" height="120" width="120" style="margin-left: 40%; margin-right: 60%;"></canvas>
                  <script>

					var value_compl = {{viki_complete_percentage}};
					var value_uncomp = {{viki_uncomplete}};  
					console.log(value_compl)
                    var doughnutData = [{
                        value: value_compl,
                        color: "#FF6B6B"
                      },
                      {
                        value: value_uncomp,
                        color: "#fdfdfd"
                      }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                  </script>
                  <div class="row">
                    <div class="col-sm-5 col-xs-5 goleft">
                      <p>Очакващи потвърждение: </p>
                      <p>Завършени: </p>
                      <hr>
                      <p><strong>Общо покани:</strong></p>
                    </div>
                    <div class="col-sm-6 col-xs-6" style=" text-align: left;">
                      <h2>{{ viki_complete_percentage }} %</h2>
                    </div>
                  </div>


                        
                    <div class="row">
                        <div class="col-12">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Име на поканата</th>
                                <th scope="col">url</th>
								<th scope="col">id_гости</th>
                                
                              </tr>
                            </thead>
                            <tbody>
          
                              {% for invitation in invitations %}
                                  {% if 'Вики' in invitation.cat_type_guests %}
								  {% if invitation.complete == True %}
								  <tr style="background-color: rgb(203, 240, 148);">
									<th scope="row">{{ invitation.pk }}</th>
									<td>{{ invitation.slug_name }}</td>
									<td><a href="{{ invitation.url }}">{{ invitation.url }}</a></td>
									

									<td>
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter{{ invitation.pk }}">
											View
										  </button>
										  
										  <!-- Modal -->
										  <div class="modal fade" id="exampleModalCenter{{ invitation.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
											  <div class="modal-content">
												<div class="modal-header">
												  <h5 class="modal-title" id="exampleModalLongTitle">Покана ID {{ invitation.pk }}</h5>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
													<h4>Име на поканата : {{ invitation.slug_name }}</h4>
													<h4>Категория на поканата: {{ invitation.cat_type_guests }}</h4>
													<h4>Url : <a href="{{ invitation.url }}">{{ invitation.url }}</a></h4>
													<h4>Статус на поканата: 
														{% if invitation.complete %}
														Изпълнена
														{% else %}
														Неизпълнена
														{% endif %}
													</h4>
													<h4>Email: {{ invitation.guest_1.email }}</h4>
													
													<hr>
													{% if invitation.guest_1.accept_invitation %}
													<h4 style="color: greenyellow;">Гост 1 / id: {{ invitation.guest_1.pk }}</h4>
													{% else  %}
													<h4 style="color: red;" >Гост 1 / id: {{ invitation.guest_1.pk }}</h4>
													{% endif %}
													
													<h5>Име : {{ invitation.guest_1.first_name }}</h5>
													<h5>Фамилия : {{ invitation.guest_1.last_name }}</h5>
													<h5>Меню :
														{% if invitation.guest_1.is_vegetarian %}
														Вегетарианско
														{% elif invitation.guest_1.is_vegetarian == false %}
														С месо
														{% else %}
														{% endif %}
														</h5>
													<h5>Маса :  {{ invitation.guest_1.table_num }}</h5>

													<hr>
													{% if invitation.guest_2.accept_invitation %}
													<h4 style="color: greenyellow;">Гост 2 / id: {{ invitation.guest_2.pk }}</h4>
													{% else  %}
													<h4 style="color: red;" >Гост 2 / id: {{ invitation.guest_2.pk }}</h4>
													{% endif %}
													
													<h5>Име : {{ invitation.guest_2.first_name }}</h5>
													<h5>Фамилия : {{ invitation.guest_2.last_name }}</h5>
													<h5>Меню :
														{% if invitation.guest_1.is_vegetarian %}
														Вегетарианско
														{% elif invitation.guest_1.is_vegetarian == false %}
														С месо
														{% else %}
														{% endif %}
														</h5>
													<h5>Маса :  {{ invitation.guest_2.table_num }}</h5>

												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												  <button type="button" class="btn btn-primary">Save changes</button>
												</div>
											  </div>
											</div>
										  </div>
										</td>




								</tr>
								{% else %}
								<tr style="background-color: rgb(240, 161, 161);">
									<th scope="row">{{ invitation.pk }}</th>
									<td>{{ invitation.slug_name }}</td>
									<td><a href="{{ invitation.url }}">{{ invitation.url }}</a></td>
									


									<td>
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter{{ invitation.pk }}">
											View
										  </button>
										  
										  <!-- Modal -->
										  <div class="modal fade" id="exampleModalCenter{{ invitation.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
											  <div class="modal-content">
												<div class="modal-header">
												  <h5 class="modal-title" id="exampleModalLongTitle">Покана ID {{ invitation.pk }}</h5>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
													<h4>Име на поканата : {{ invitation.slug_name }}</h4>
													<h4>Категория на поканата: {{ invitation.cat_type_guests }}</h4>
													<h4>Url : <a href="{{ invitation.url }}">{{ invitation.url }}</a></h4>
													<h4>Статус на поканата: 
														{% if invitation.complete %}
														Изпълнена
														{% else %}
														Неизпълнена
														{% endif %}
													</h4>
													<h4>Email: {{ invitation.guest_1.email }}</h4>
													
													<hr>
													{% if invitation.guest_1.accept_invitation %}
													<h4 style="color: greenyellow;">Гост 1 / id: {{ invitation.guest_1.pk }}</h4>
													{% else  %}
													<h4 style="color: red;" >Гост 1 / id: {{ invitation.guest_1.pk }}</h4>
													{% endif %}
													
													<h5>Име : {{ invitation.guest_1.first_name }}</h5>
													<h5>Фамилия : {{ invitation.guest_1.last_name }}</h5>
													<h5>Меню :
														{% if invitation.guest_1.is_vegetarian %}
														Вегетарианско
														{% elif invitation.guest_1.is_vegetarian == false %}
														С месо
														{% else %}
														{% endif %}
														</h5>
													<h5>Маса :  {{ invitation.guest_1.table_num }}</h5>

													<hr>
													{% if invitation.guest_2.accept_invitation %}
													<h4 style="color: greenyellow;">Гост 2 / id: {{ invitation.guest_2.pk }}</h4>
													{% else  %}
													<h4 style="color: red;" >Гост 2 / id: {{ invitation.guest_2.pk }}</h4>
													{% endif %}
													
													<h5>Име : {{ invitation.guest_2.first_name }}</h5>
													<h5>Фамилия : {{ invitation.guest_2.last_name }}</h5>
													<h5>Меню :
														{% if invitation.guest_1.is_vegetarian %}
														Вегетарианско
														{% elif invitation.guest_1.is_vegetarian == false %}
														С месо
														{% else %}
														{% endif %}
														</h5>
													<h5>Маса :  {{ invitation.guest_2.table_num }}</h5>

												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												  <button type="button" class="btn btn-primary">Save changes</button>
												</div>
											  </div>
											</div>
										  </div>
										</td>



								</tr>
								{% endif %}
										
                                 {% endif %}
                                  
                              
                             
                              {% endfor %}
                          
                            </tbody>
                          </table>
                        </div>
                      </div>


                  </div>


				  

                  <div class="col col-lg-5 col-lg-offset-2" style="background-color:rgb(214, 223, 252); border-radius: 24px;">
                        <h3 style="text-align: center;">Покани Илиан</h3>
						<div class="grey-header" style="text-align: center; margin-top: 10px;">
							<h5>Процент потвърдили присъствие</h5>
						  </div>
						  <canvas id="serverstatus02" height="120" width="120" style="margin-left: 40%; margin-right: 60%;"></canvas>
						  <script>

							var value_compl = {{ilian_complete_percentage}};
							var value_uncomp = {{ilian_uncomplete}};  
							console.log(value_compl)
							var doughnutData = [{
								value: value_compl,
								color: "#FF6B6B"
							  },
							  {
								value: value_uncomp,
								color: "#fdfdfd"
							  }
							];
							var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
						  </script>
						  <div class="row">
							<div class="col-sm-5 col-xs-5 goleft">
							  <p>Очакващи потвърждение: </p>
							  <p>Завършени: </p>
							  <hr>
							  <p><strong>Общо покани:</strong></p>
							</div>
							<div class="col-sm-5 col-xs-5" style=" text-align: left;">
							  <h2>{{ ilian_complete_percentage }} %</h2>
							</div>
						  </div>

					

                    <div class="row">
                        <div class="col-12">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Име на поканата</th>
                                <th scope="col">url</th>
                                
                              </tr>
                            </thead>
                            <tbody>
          
                              {% for invitation in invitations %}
                                  {% if 'Илиан' in invitation.cat_type_guests %}
								  	{% if invitation.complete == True %}
                                      <tr style="background-color: rgb(203, 240, 148);">
                                        <th scope="row">{{ invitation.pk }}</th>
                                        <td>{{ invitation.slug_name }}</td>
                                        <td><a href="{{ invitation.url }}">{{ invitation.url }}</a></td>

										
									<td>
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter{{ invitation.pk }}">
											View
										  </button>
										  
										  <!-- Modal -->
										  <div class="modal fade" id="exampleModalCenter{{ invitation.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
											  <div class="modal-content">
												<div class="modal-header">
												  <h5 class="modal-title" id="exampleModalLongTitle">Покана ID {{ invitation.pk }}</h5>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
													<h4>Име на поканата : {{ invitation.slug_name }}</h4>
													<h4>Категория на поканата: {{ invitation.cat_type_guests }}</h4>
													<h4>Url : <a href="{{ invitation.url }}">{{ invitation.url }}</a></h4>
													<h4>Статус на поканата: 
														{% if invitation.complete %}
														Изпълнена
														{% else %}
														Неизпълнена
														{% endif %}
													</h4>
													<h4>Email: {{ invitation.guest_1.email }}</h4>
													
													<hr>
													{% if invitation.guest_1.accept_invitation %}
													<h4 style="color: greenyellow;">Гост 1 / id: {{ invitation.guest_1.pk }}</h4>
													{% else  %}
													<h4 style="color: red;" >Гост 1 / id: {{ invitation.guest_1.pk }}</h4>
													{% endif %}
													
													<h5>Име : {{ invitation.guest_1.first_name }}</h5>
													<h5>Фамилия : {{ invitation.guest_1.last_name }}</h5>
													<h5>Меню :
														{% if invitation.guest_1.is_vegetarian %}
														Вегетарианско
														{% elif invitation.guest_1.is_vegetarian == false %}
														С месо
														{% else %}
														{% endif %}
														</h5>
													<h5>Маса :  {{ invitation.guest_1.table_num }}</h5>

													<hr>
													{% if invitation.guest_2.accept_invitation %}
													<h4 style="color: greenyellow;">Гост 2 / id: {{ invitation.guest_2.pk }}</h4>
													{% else  %}
													<h4 style="color: red;" >Гост 2 / id: {{ invitation.guest_2.pk }}</h4>
													{% endif %}
													
													<h5>Име : {{ invitation.guest_2.first_name }}</h5>
													<h5>Фамилия : {{ invitation.guest_2.last_name }}</h5>
													<h5>Меню :
														{% if invitation.guest_1.is_vegetarian %}
														Вегетарианско
														{% elif invitation.guest_1.is_vegetarian == false %}
														С месо
														{% else %}
														{% endif %}
														</h5>
													<h5>Маса :  {{ invitation.guest_2.table_num }}</h5>

												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												  <button type="button" class="btn btn-primary">Save changes</button>
												</div>
											  </div>
											</div>
										  </div>
										</td>


									</tr>
									{% else %}
									<tr style="background-color: rgb(240, 161, 161);">
                                        <th scope="row">{{ invitation.pk }}</th>
                                        <td>{{ invitation.slug_name }}</td>
                                        <td><a href="{{ invitation.url }}">{{ invitation.url }}</a></td>

										
									<td>
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter{{ invitation.pk }}">
											View
										  </button>
										  
										  <!-- Modal -->
										  <div class="modal fade" id="exampleModalCenter{{ invitation.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
											  <div class="modal-content">
												<div class="modal-header">
												  <h5 class="modal-title" id="exampleModalLongTitle">Покана ID {{ invitation.pk }}</h5>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
													<h4>Име на поканата : {{ invitation.slug_name }}</h4>
													<h4>Категория на поканата: {{ invitation.cat_type_guests }}</h4>
													<h4>Url : <a href="{{ invitation.url }}">{{ invitation.url }}</a></h4>
													<h4>Статус на поканата: 
														{% if invitation.complete %}
														Изпълнена
														{% else %}
														Неизпълнена
														{% endif %}
													</h4>
													<h4>Email: {{ invitation.guest_1.email }}</h4>
													
													<hr>
													{% if invitation.guest_1.accept_invitation %}
													<h4 style="color: greenyellow;">Гост 1 / id: {{ invitation.guest_1.pk }}</h4>
													{% else  %}
													<h4 style="color: red;" >Гост 1 / id: {{ invitation.guest_1.pk }}</h4>
													{% endif %}
													
													<h5>Име : {{ invitation.guest_1.first_name }}</h5>
													<h5>Фамилия : {{ invitation.guest_1.last_name }}</h5>
													<h5>Меню :
														{% if invitation.guest_1.is_vegetarian %}
														Вегетарианско
														{% elif invitation.guest_1.is_vegetarian == false %}
														С месо
														{% else %}
														{% endif %}
														</h5>
													<h5>Маса :  {{ invitation.guest_1.table_num }}</h5>

													<hr>
													{% if invitation.guest_2.accept_invitation %}
													<h4 style="color: greenyellow;">Гост 2 / id: {{ invitation.guest_2.pk }}</h4>
													{% else  %}
													<h4 style="color: red;" >Гост 2 / id: {{ invitation.guest_2.pk }}</h4>
													{% endif %}
													
													<h5>Име : {{ invitation.guest_2.first_name }}</h5>
													<h5>Фамилия : {{ invitation.guest_2.last_name }}</h5>
													<h5>Меню :
														{% if invitation.guest_1.is_vegetarian %}
														Вегетарианско
														{% elif invitation.guest_1.is_vegetarian == false %}
														С месо
														{% else %}
														{% endif %}
														</h5>
													<h5>Маса :  {{ invitation.guest_2.table_num }}</h5>

												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												  <button type="button" class="btn btn-primary">Save changes</button>
												</div>
											  </div>
											</div>
										  </div>
										</td>


									</tr>
									{% endif %}
                                       
                                 {% endif %}
                                  
                              
                              
                              {% endfor %}
                          
                            </tbody>
                          </table>
                        </div>
                      </div>

                  </div>
                </div>





				<!--GUESTS-->
				<hr>
				<h1 style="text-align: center;">ГОСТИ</h1>
				<hr>
				<div class="row" >
					<div class="col col-lg-5" style="background-color:rgb(248, 211, 248);border-radius: 24px;">
  
					  
  
  
					   <!-- SERVER STATUS PANELS -->
					   <h3 style="text-align: center;"> Гости Вики</h3>
					   <div class="grey-header" style="text-align: center; margin-top: 10px;">
						   <h5>Процент потвърдили присъствие</h5>
						 </div>
						 <canvas id="viki_guests" height="120" width="120" style="margin-left: 40%; margin-right: 60%;"></canvas>
						 <script>
						 var value_compl_viki = {{guests_percentage_accept_viki}};
						 var value_uncomp_viki = {{guests_percentage_not_viki}};  

						   var doughnutData = [{
							   value: value_compl_viki,
							   color: "#FF6B6B"
							 },
							 {
							   value: value_uncomp_viki,
							   color: "#fdfdfd"
							 }
						   ];
						   var myDoughnut = new Chart(document.getElementById("viki_guests").getContext("2d")).Doughnut(doughnutData);
						 </script>
						 <div class="row">
						   <div class="col-sm-5 col-xs-5 goleft">
							 <p style="color: rgb(248, 248, 138);">Очакващи: <span style="color: black;"> {{ guests_viki_pending }} </span>  </p>
							 <p style="color: rgb(203, 240, 148);">Потвърдени:  <span style="color: black;"> {{ guests_viki_accept }} </span> </p>
							 <p style="color: rgb(240, 161, 161);">Отказали:  <span style="color: black;"> {{ guests_viki_not_accept }} </span> </p>
							 <hr>
							 <p><strong>Общо покани:</strong></p>
						   </div>
						   <div class="col-sm-5 col-xs-5" style=" text-align: left;">
							 <h2>{{ guests_percentage_accept_viki }} %</h2>
						   </div>
						 </div>

				   

				   <div class="row">
					   <div class="col-12">
						 <table class="table table-bordered">
						   <thead>
							 <tr>
							   <th scope="col">От покана</th>
							   <th scope="col">Име на госта</th>
							   <th scope="col">Фамилия</th>
							   <th scope="col">Вегетарианец</th>
							   
							   
							 </tr>
						   </thead>
						   <tbody>
		 
							 {% for guest in viki_guests %}
								 {% if guest.accept_invitation == 'Приемам' %}
									 <tr style="background-color:rgb(203, 240, 148);">
									   <th scope="row">{{ guest.pk }}</th>
									   <td>{{ guest.first_name }}</td>
									   <td>{{ guest.last_name }}</td>
									   <td>{{ guest.is_vegetarian }}</td>
									 </tr>
								 {% elif guest.accept_invitation == 'Отказвам' %}
								 <tr style="background-color:rgb(240, 161, 161);">
									 <th scope="row">{{ guest.pk }}</th>
									 <td>{{ guest.first_name }}</td>
									 <td>{{ guest.last_name }}</td>
									 <td>{{ guest.is_vegetarian }}</td>
								   </tr>
								 {% else %}
								 <tr style="background-color:rgb(248, 248, 138);">
									 <th scope="row">{{ guest.pk }}</th>
									 <td>{{ guest.first_name }}</td>
									 <td>{{ guest.last_name }}</td>
									 <td>{{ guest.is_vegetarian }}</td>
								   </tr>
								 {% endif %}
								
								 
							 
							 
							 {% endfor %}
						 
						   </tbody>
						 </table>
					   </div>
					 </div>

  
  
					</div>
  
  
					
  
					<div class="col col-lg-5 col-lg-offset-2" style="background-color:rgb(214, 223, 252); border-radius: 24px;">
						  <h3 style="text-align: center;"> Гости Илиан</h3>
						  <div class="grey-header" style="text-align: center; margin-top: 10px;">
							  <h5>Процент потвърдили присъствие</h5>
							</div>
							<canvas id="ilian_guests" height="120" width="120" style="margin-left: 40%; margin-right: 60%;"></canvas>
							<script>
							var value_compl_ilian = {{guests_percentage_accept_ilian}};
							var value_uncomp_ilian = {{guests_percentage_not_ilian}};  

							  var doughnutData = [{
								  value: value_compl_ilian,
								  color: "#FF6B6B"
								},
								{
								  value: value_uncomp_ilian,
								  color: "#fdfdfd"
								}
							  ];
							  var myDoughnut = new Chart(document.getElementById("ilian_guests").getContext("2d")).Doughnut(doughnutData);
							</script>
							<div class="row">
							  <div class="col-sm-5 col-xs-5 goleft">
								<p style="color: rgb(248, 248, 138);">Очакващи: <span style="color: black;"> {{ guests_ilian_pending }} </span>  </p>
								<p style="color: rgb(203, 240, 148);">Потвърдени:  <span style="color: black;"> {{ guests_ilian_accept }} </span> </p>
								<p style="color: rgb(240, 161, 161);">Отказали:  <span style="color: black;"> {{ guests_ilian_not_accept }} </span> </p>
								<hr>
								<p><strong>Общо покани:</strong></p>
							  </div>
							  <div class="col-sm-5 col-xs-5" style=" text-align: left;">
								<h2>{{ guests_percentage_accept_ilian }} %</h2>
							  </div>
							</div>
  
					  
  
					  <div class="row">
						  <div class="col-12">
							<table class="table table-bordered">
							  <thead>
								<tr>
								  <th scope="col">ID</th>
								  <th scope="col">Име на госта</th>
								  <th scope="col">Фамилия</th>
								  <th scope="col">Вегетарианец</th>
								  
								</tr>
							  </thead>
							  <tbody>
			
								{% for guest in ilian_guests %}
									{% if guest.accept_invitation == 'Приемам'  %}
										<tr style="background-color:rgb(203, 240, 148);">
										  <th scope="row">{{ guest.pk }}</th>
										  <td>{{ guest.first_name }}</td>
										  <td>{{ guest.last_name }}</td>
										  <td>{{ guest.is_vegetarian }}</td>
										</tr>
									{% elif guest.accept_invitation == 'Отказвам' %}
									<tr style="background-color:rgb(240, 161, 161);">
										<th scope="row">{{ guest.pk }}</th>
										<td>{{ guest.first_name }}</td>
										<td>{{ guest.last_name }}</td>
										<td>{{ guest.is_vegetarian }}</td>
									  </tr>
									{% else %}
									<tr style="background-color:rgb(248, 248, 138);">
										<th scope="row">{{ guest.pk }}</th>
										<td>{{ guest.first_name }}</td>
										<td>{{ guest.last_name }}</td>
										<td>{{ guest.is_vegetarian }}</td>
									  </tr>
									{% endif %}
								   
									
								
								
								{% endfor %}
							
							  </tbody>
							</table>
						  </div>
						</div>
  
					</div>
				  </div>
			

            </div>

			<div class="container">
									<!-- Button trigger modal -->
									<a type="button" class="btn btn-success" href="{% url 'all_accept' %}">Success</a>
			</div>




          </div>

		





		<footer id="footer" class="footer" style="background-color: cadetblue;">
			<div class="container">
				<div class="row">
				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
						<div class="footer-single">
							<img src="img/footer-logo.png" alt="">
							<p>eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
						<div class="footer-single">
							<img src="img/footer-logo.png" alt="">
							<p>eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
						<div class="footer-single">
							<img src="img/footer-logo.png" alt="">
							<p>eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis .</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
						<div class="footer-single">
							<img src="img/footer-logo.png" alt="">
							<p>eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
						</div>
					</div>
				
					
				
					
					
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="copyright text-center">
							<img src="{% static 'wedd_app/img/logo.png' %}"/>
							<br>
							Copyright © 2015 <a href="http://themefisher.com/">Themefisher</a>. All rights reserved. Designed & developed by <a href="http://themefisher.com/">Themefisher</a>
						</p>
					</div>
				</div>
			</div>
		</footer>


	
	
<!--
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function(){
				$(".btnm .fa-play-circle-o").on('click', function(){
					$(this).hide();
					$(".fa-pause-circle-o").fadeIn();
					$("#myMusic")[0].play();
				});

				$(".btnm .fa-pause-circle-o").on('click', function(){
					$(this).hide();
					$(".fa-play-circle-o").fadeIn();
					$("#myMusic")[0].play();
				});

				 });
		</script>

		-->
		
		<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>

		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="{% static 'wedd_app/js/jquery-1.11.1.min.js' %}"></script>
		<!-- Single Page Nav -->
        <script src="{% static 'wedd_app/js/jquery.singlePageNav.min.js' %}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{% static 'wedd_app/js/bootstrap.min.js' %}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{% static 'wedd_app/js/jquery.fancybox.pack.js' %}"></script>
		<!-- jquery.mixitup.min -->
        <script src="{% static 'wedd_app/js/jquery.mixitup.min.js' %}"></script>
		<!-- jquery.parallax -->
        <script src="{% static 'wedd_app/js/jquery.parallax-1.1.3.js' %}"></script>
		<!-- jquery.countTo -->
        <script src="{% static 'wedd_app/js/jquery-countTo.js' %}"></script>
		<!-- jquery.appear -->
        <script src="{% static 'wedd_app/js/jquery.appear.js' %}"></script>
		<!-- Contact form validation -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
		<!-- Google Map -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
		<!-- jquery easing -->
        <script src="{% static 'wedd_app/js/jquery.easing.min.js' %}"></script>
		<!-- jquery easing -->
        <script src="{% static 'wedd_app/js/wow.min.js' %}"></script>
		<script>
			var wow = new WOW ({
				boxClass:     'wow',      // animated element css class (default is wow)
				animateClass: 'animated', // animation css class (default is animated)
				offset:       120,          // distance to the element when triggering the animation (default is 0)
				mobile:       false,       // trigger animations on mobile devices (default is true)
				live:         true        // act on asynchronously loaded content (default is true)
			  }
			);
			wow.init();
		</script> 
		<!-- Custom Functions -->
		<script src="{% static 'wedd_app/js/custom.js'%}"></script>
		
		<!--BOOTSTRAP-->
		<script>
			var coll = document.getElementsByClassName("collapsible");
			var i;
			
			for (i = 0; i < coll.length; i++) {
			  coll[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
				  content.style.display = "none";
				} else {
				  content.style.display = "block";
				}
			  });
			}
			</script>




<script>
	var i = 0;
	var txt = "Сърцата двама си отдаваме, живота да прекараме един до друг и твърдо ще го отстояваме завинаги като СЪПРУГА и СЪПРУГ.";
	var speed = 80;
	
	function typeWriter() {
	  if (i < txt.length) {
		document.getElementById(id="text-1").innerHTML += txt.charAt(i);
		i++;
		setTimeout(typeWriter, speed);
	  }
	}

	typeWriter()

	</script>



		<script type="text/javascript">
			$(function(){
				/* ========================================================================= */
				/*	Contact Form
				/* ========================================================================= */
				
				$('#contact-form').validate({
					rules: {
						name: {
							required: true,
							minlength: 2
						},
						email: {
							required: true,
							email: true
						},
						message: {
							required: true
						}
					},
					messages: {
						name: {
							required: "come on, you have a name don't you?",
							minlength: "your name must consist of at least 2 characters"
						},
						email: {
							required: "no email, no message"
						},
						message: {
							required: "um...yea, you have to write something to send this form.",
							minlength: "thats all? really?"
						}
					},
					submitHandler: function(form) {
						$(form).ajaxSubmit({
							type:"POST",
							data: $(form).serialize(),
							url:"process.php",
							success: function() {
								$('#contact-form :input').attr('disabled', 'disabled');
								$('#contact-form').fadeTo( "slow", 0.15, function() {
									$(this).find(':input').attr('disabled', 'disabled');
									$(this).find('label').css('cursor','default');
									$('#success').fadeIn();
								});
							},
							error: function() {
								$('#contact-form').fadeTo( "slow", 0.15, function() {
									$('#error').fadeIn();
								});
							}
						});
					}
				});
			});
		</script>
    </body>
</html>
