{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
	<!-- meta charec set -->
	<meta charset="utf-8">
	<!-- Always force latest IE rendering engine or request Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- Page Title -->
	<title>Themefisher.Free Bootstrap3 based HTML5 Templates</title>
	<!-- Meta Description -->
	<meta name="description" content="Blue One Page Creative HTML5 Template">
	<meta name="keywords"
		content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
	<meta name="author" content="Muhammad Morshed">
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Google Font -->

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

	<!-- CSS
		================================================== -->
	<link rel="stylesheet" href="{% static 'wedd_app/css/timeline.css' %}">
	<!-- Fontawesome Icon font -->
	<link rel="stylesheet" href="{% static 'wedd_app/css/font-awesome.min.css' %}">
	<!-- Twitter Bootstrap css -->
	<link rel="stylesheet" href="{% static 'wedd_app/css/bootstrap.min.css' %}">
	<!-- jquery.fancybox  -->
	<link rel="stylesheet" href="{% static 'wedd_app/css/jquery.fancybox.css' %}">
	<!-- animate -->
	<link rel="stylesheet" href="{% static 'wedd_app/css/animate.css' %}">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="{% static 'wedd_app/css/main.css' %}">
	<!-- media-queries -->
	<link rel="stylesheet" href="{% static 'wedd_app/css/media-queries.css' %}">


	<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>

	<!-- Modernizer Script for old Browsers -->
	<script src="{% static 'wedd_app/js/modernizr-2.6.2.min.js' %}"></script>


	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">



	<!--FONT-->
	<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>






	<!--@import url('https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda');

.row {
  font-size: 18pt;
  font-weight: 600;
}

.font_meie_script {
  font-family: 'Pacifico', cursive;
}
-->




	<style>
		
		@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

	
		p {
			font: 400 20px/1.3 ;
			

		}



		
		body {
			background-image: url("{% static 'wedd_app/img/background_test_1.jpg' %}");
			font-family: 'Marck Script', cursive;
			background-position: center;
			background-repeat: no-repeat;
			background-attachment: fixed;

			background-size: cover;
		}

		footer {
			background-color: white;
		}

		.collapsible {
			background-color: white;
			color: black;
			cursor: pointer;
			padding: 18px;
			width: 100%;
			border: none;
			text-align: center;
			outline: none;
			font-size: 25px;
			border-radius: 12px;
		}

		.active,
		.collapsible:hover {
			background-color: plum;
		}

		.content {
			padding: 0 18px;
			display: none;
			overflow: hidden;
			background-color: #f1f1f1;
		}


		.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }
  
  .button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
  }
  
  .button1:hover {
	background-color: #4CAF50;
	color: white;
  }





	</style>







</head>




<body id="body">

	
<audio src="{% static 'wedd_app/music/background.mp3' %}" id="my_audio" loop="loop"></audio>

<script type="text/javascript">
	setTimeout(function(){
		//This area will be used to write code
		document.getElementById("my_audio").play();
		var audio = document.getElementById("my_audio");
		audio.volume = 0.2;

	}, 3000)

</script>
	




	<!-- preloader -->
	<div id="preloader">
		<img src="{% static 'wedd_app/img/preloader.gif' %}" style="width: 50px;" alt="Preloader">
	</div>
	<!-- end preloader -->

	<!-- 
        Fixed Navigation
        ==================================== -->
	<header id="navigation" class="transperant navbar-fixed-top navbar">
		<div class="container">
			<div class="navbar-header">
				<!-- responsive nav button -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars fa-2x"></i>
				</button>
				<!-- /responsive nav button -->

				<!-- logo -->
				<a class="navbar-brand" href="#body">
					<h1 id="logo">
						<img height="100px" src="{% static 'wedd_app/img/logo.png' %}" alt="Brandi">
					</h1>
				</a>
				<!-- /logo -->






			</div>

			<!-- main nav -->
			<nav class="collapse navbar-collapse navbar-right" role="navigation">
				<ul id="nav" class="nav navbar-nav">
					<li class="current"><a href="#body">Home</a></li>
					<li><a href="#features">За нас</a></li>
					<li><a href="#works">Галерия</a></li>
					<li><a href="#team"></a></li>
					<li><a href="#contact">Contact</a></li>
					<li><a href="/logout">Logout</a></li>

				</ul>
			</nav>
			<!-- /main nav -->




		</div>



	</header>
	<!--
        End Fixed Navigation
        ==================================== -->



	<!--
        Home Slider
        ==================================== -->

	<section id="slider" style="padding-top: 70px; height: auto;">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<img src="{% static 'wedd_app/img/wallpaper-3.png' %}" alt="Team Member" class="img-responsive"
						id="img-1" style="width: 100%; linear-gradient(to right, rgba(255,255,255,0) 20%,
					rgba(255,255,255,1))">
				</div>
				<div class="col-md-4 font_meie_script" style="margin-top:5%; line-height: 1.6;">
					<img src="{% static 'wedd_app/img/logo-1-removebg-preview.png' %}" alt="Team Member"
						class="img-responsive" id="img-1" style="width: 100%; linear-gradient(to right, rgba(255,255,255,0) 20%,
					rgba(255,255,255,1))">
					<hr>
					<p style="font-size: 30px; text-shadow: 2px 2px #D7BDE2;" id="text-1"></p>



				</div>
			</div>
			<div class="row">
				<div class="col-md-5">

				</div>
				<div class="col-md-7">

					<img src="{% static 'wedd_app/img/home_2.jpg' %}" alt="Team Member" class="img-responsive"
						id="img-1" style="width: 100%; linear-gradient(to right, rgba(255,255,255,0) 20%,
					rgba(255,255,255,1)); opacity: 0.2; border-radius: 50%;  ">
				</div>
			</div>
		</div>
	</section>

	<!--
        End Home SliderEnd
        ==================================== -->


	<!--
        Features
        ==================================== -->

	<!--


		<section id="features" class="features">
			<div class="container">
				<div class="row" style="background: transparent;">


				



				
					<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<h2 style="color: red;">За нас</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg" style="color: plum;"></i></div>
					</div>

					
					<div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-github fa-2x"></i>
							</div>
							
							<div class="service-desc">
								<h3>Първа среща</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
							</div>
						</div>
					</div>
					
					
			
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-pencil fa-2x"></i>
							</div>
							
							<div class="service-desc">
								<h3>Пътувания</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
							</div>
						</div>
					</div>
					
					
				
					<div class="col-md-4 wow fadeInRight" data-wow-duration="500ms"  data-wow-delay="900ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-bullhorn fa-2x"></i>
							</div>
							
							<div class="service-desc">
								<h3>Незабравими моменти</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
							</div>
						</div>
					</div>
					
						
				</div>
			</div>
		</section>
		-->

















	<!--
        Meet Our Team
        ==================================== -->

	<section id="team" class="team">
		<div class="container">
			<div class="row">

				<div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
					<h3></h3>
					<div class="devider"><i class="fa fa-heart-o fa-lg" style="color:plum;"></i></div>
				</div>

				<div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
					<p>Здравей Име, ще се радваме ако споделиш вълнуващият момент на началото на нашият съвместен живот
					</p>
				</div>

				<!-- single member -->
				<figure class="team-member col-md-4 col-sm-6 col-xs-12 text-center wow fadeInUp animated"
					data-wow-duration="500ms">
					<div class="member-thumb">
						<img src="{% static 'wedd_app/img/ilian_1.jpg' %}" alt="Team Member" class="img-responsive"
							style="border-radius: 24px;position: relative;z-index: 1;">

						<figcaption class="overlay">
							<h5>Желаеш да комуникираш с мен </h5>
							<p>Очаквам те във Viber</p>
							<ul class="social-links text-center">
								<li><a href="viber://chat/?number=%2B359879665757">Viber</a></li>

							</ul>
						</figcaption>
					</div>
					<h4>Илиан Миков</h4>
					<span>Младоженец</span>
				</figure>
				<!-- end single member -->

				<!-- single member -->
				<figure class="team-member col-md-4 col-sm-6 col-xs-12 text-center wow fadeInUp animated"
					data-wow-duration="500ms">
					<div class="member-thumb">
						<img src="{% static 'wedd_app/img/heart-pink.png' %}" alt="Team Member" class="img-responsive"
							style="border-radius: 24px;">
						<figcaption class="overlay">
							<h5>Желаеш да комуникираш с мен </h5>
							<p>Очаквам те във Viber</p>
							<ul class="social-links text-center">
								<li><a href="viber://chat/?number=%2B359879665757">Viber</a></li>

							</ul>
						</figcaption>
					</div>

				</figure>
				<!-- end single member -->

				<!-- single member -->
				<figure class="team-member col-md-4 col-sm-6 col-xs-12 text-center wow fadeInUp animated"
					data-wow-duration="500ms">
					<div class="member-thumb">
						<img src="{% static 'wedd_app/img/viki-r.png' %}" alt="Team Member" class="img-responsive"
							style="border-radius: 24px;">
						<figcaption class="overlay">
							<h5>Желаеш да комуникираш с мен </h5>
							<p>Очаквам те във Viber</p>
							<ul class="social-links text-center">
								<li><a href="viber://chat/?number=%2B359879665757">Viber</a></li>

							</ul>
						</figcaption>
					</div>
					<h4>Виктория Йорданова</h4>
					<span>Булка</span>
				</figure>
				<!-- end single member -->

				<!-- single member 
					<figure class="team-member col-md-4 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="member-thumb">
							<img src="{% static 'wedd_app/img/viki-r.png' %}" alt="Team Member" class="img-responsive">
							<figcaption class="overlay">
								<h5>voluptatem quia voluptas </h5>
								<p>sit aspernatur aut odit aut fugit,</p>
								<ul class="social-links text-center">
									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								</ul>
							</figcaption>
						</div>
						<h4>Martin Matrone</h4>
						<span>Lead Developer</span>
					</figure>
					 end single member -->



			</div>
		</div>
	</section>

	<!--
        End Meet Our Team
        ==================================== -->




	<div class="container">
		<div class="main-timeline">

			<!-- start experience section-->
			<div class="timeline">
				<div class="icon"></div>
				<div class="date-content">
					<div class="date-outer">
						<span class="date">
							<span class="month">I</span>
							<span class="year">17:30ч</span>
						</span>
					</div>
				</div>
				<div class="timeline-content">
					<h5 class="title">Граждански ритуал </h5>
					<p class="description">
						Тук може да сложим допълнителна информация! :)
					</p>
				</div>
			</div>
			<!-- end experience section-->

			<!-- start experience section-->
			<div class="timeline">
				<div class="icon"></div>
				<div class="date-content">
					<div class="date-outer">
						<span class="date">
							<span class="month">II</span>
							<span class="year">18:00ч.</span>
						</span>
					</div>
				</div>
				<div class="timeline-content">
					<h5 class="title">Коктейл и снимки</h5>
					<p class="description">
						Тук може да сложим допълнителна информация! :)
					</p>
				</div>
			</div>
			<!-- end experience section-->

			<!-- start experience section-->
			<div class="timeline">
				<div class="icon"></div>
				<div class="date-content">
					<div class="date-outer">
						<span class="date">
							<span class="month">III</span>
							<span class="year">19:00ч.</span>
						</span>
					</div>
				</div>
				<div class="timeline-content">
					<h5 class="title">ТЪРЖЕСТВЕНА ВЕЧЕРЯ</h5>
					<p class="description">
						Тук може да сложим допълнителна информация! :)
					</p>
				</div>
			</div>
			<!-- end experience section-->



		</div>
	</div>


	<!--
        End Features
        ==================================== -->

	<!--	
			<style>

				.bg-music{
					position: fixed; 
					top:80%; 
					left:90%; 
					right: 0; 
					margin: 0 auto;
				}

				.btnm{
					background-color: transparent;
					color: #fff; 
					font-size: 40px; 
					border:none; 
					display: block; 
					margin:0 auto; 
					opacity: .3 ;
					transition: all linear .2s;
				}

				.btnm:hover{
					opacity:1;
				}

				.fa-pause-circle-o{
					display: none;
				}

			</style>


		-->

	<!--
        Our Works
        ==================================== 
		<div class="wrapper" style="background: rgba(255,255,255,1); background-size: cover; background-position: center; background-blend-mode: overlay; min-height: 1vh;"></div>

		<div class="bg-music">
			<audio autoplay="autoplay" id="myMusic" src='static/wedd_app/music/background.mp3' loop="loop" type="audio/mpeg"></audio>
			<button class="btnm">
				<i class="fa fa-play-circle-o"></i>
				<i class="fa fa-pause-circle"></i>
				
			</button>
		</div>

	-->




	<!--GALERY
	

		<section id="works" class="works clearfix">
			<div class="container">
				<div class="row">
				
					<div class="sec-title text-center">
						<h2>Галерия</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg" style="color: red;"></i></div>
					</div>
					
					<div class="sec-sub-title text-center">
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
					</div>
					
					<div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
						<ul class="text-center">
							<li><a href="javascript:;" data-filter="all" class="active filter">Всички</a></li>
							<li><a href="javascript:;" data-filter=".branding" class="filter">V&I</a></li>
							<li><a href="javascript:;" data-filter=".web" class="filter">Кумове</a></li>
							<li><a href="javascript:;" data-filter=".logo-design" class="filter">Сватба</a></li>
							<li><a href="javascript:;" data-filter=".photography" class="filter"></a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
			<div class="project-wrapper">
			
				<figure class="mix work-item branding">
					<img src="{% static 'wedd_app/img/works/item-1.jpg' %}" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'wedd_app/img/works/item-1.jpg' %}"><i class="fa fa-eye fa-lg"></i></a>
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item web">
					<img src="{% static 'wedd_app/img/works/item-2.jpg' %}" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'wedd_app/img/works/item-2.jpg'%}"><i class="fa fa-eye fa-lg"></i></a>
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item logo-design">
					<img src="{% static 'wedd_app/img/works/item-3.jpg'%}" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'wedd_app/img/works/item-3.jpg'%}"><i class="fa fa-eye fa-lg"></i></a>
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item photography">
					<img src="{% static 'wedd_app/img/works/item-4.jpg'%}" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'wedd_app/img/works/item-4.jpg'%}"><i class="fa fa-eye fa-lg"></i></a>
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>
			
				<figure class="mix work-item branding">
					<img src="{% static 'wedd_app/img/works/item-5.jpg'%}" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'wedd_app/img/works/item-5.jpg'%}"><i class="fa fa-eye fa-lg"></i></a>
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item web">
					<img src="{% static 'wedd_app/img/works/item-6.jpg'%}" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'wedd_app/img/works/item-6.jpg'%}"><i class="fa fa-eye fa-lg"></i></a>
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item logo-design">
					<img src="{% static 'wedd_app/img/works/item-7.jpg'%}" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'wedd_app/img/works/item-7.jpg'%}"><i class="fa fa-eye fa-lg"></i></a>
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item photography">
					<img src="{% static 'wedd_app/img/works/item-8.jpg'%}" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'wedd_app/img/works/item-8.jpg'%}"><i class="fa fa-eye fa-lg"></i></a>
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>
				
			</div>
		

		</section>
		


	-->
	<!--
        End Our Works
        ==================================== -->







	<!--
     
			


			<!--Collapse-->







	<div class="container" class="wow bounceInDown animated" allowfullscreen data-wow-duration="500ms">
		<div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
			<h2 style="color: plum;">Къде ще празнуваме</h2>
			<div class="devider"><i class="fa fa-heart-o fa-lg" style="color: plum;"></i></div>
		</div>
	</div>
	{% if  not invitation.complete %}
	{% if guests_number == 1 %}
	<button type="button" class="collapsible" style="opacity: 0.5;">Ще споделиш ли с нас прекрасният момент?</button>
	{% else %}
	<button type="button" class="collapsible" style="opacity: 0.5;">Ще споделите ли с нас прекрасният момент?</button>
	{% endif %}
	<div class="content"
		style=" width: 100%; ;background-image: url('{% static 'wedd_app/img/invitation_2.jpg' %}');background-repeat: repeat-y; font-family: 'Marck Script', cursive; background-size: 100%;background-attachment: fixed; ">


									
		

		










		<div class="container" style="margin-top: 10%; margin-bottom: 10%;">

			
				<div class="row">
					<div class="col-md-8" style="text-align: center;">
						<h2>Скъпи гости,</h2>

						<h3 style="font-family: 'Marck Script', cursive;">	В ден благословен Съдбата нас събра и животът ни изпълни се от Любовта.</h3>
							
						<h3>	С криле дарени, за да полетим, решихме остатъка от дните си да споделим.</h3>
							
						<h3>	Към нас за празник се присъединете,</h3>
							
						<h3>	денят ни сватбен уважете и нашата покана приемете!</h3>
							
						<h3>	Ние,</h3>
							
						<h3>	Мария и Деян,</h3>
							
						<h3>	Заедно с нашите родители</h3>
							
						<h3>	Имаме удоволствието и радостта да Ви поканим</h3>
							
						<h3>	на сватбеното ни тържество!</h3>
							
						<h3>	Гражданският ни брак ще се състои на .............2013г. в ритуална зала .................... от ...... часа.</h3>

						<h3>	Празничното тържество ще започне в ............ часа в ресторант “..............................”.</h3>
							
						<h3>	Кумуват: Румя на Минкова и Иван Енев</h3>
							
						<h3>	Учтиво молим само – до 20 Юли ни звъннете, и присъствието си желано потвърдете!</h3>
						
					</div>
					<div class="col-md-4 font_meie_script" style="margin-top:5%; line-height: 1.6;">
						<img src="{% static 'wedd_app/img/logo-1-removebg-preview.png' %}" alt="Team Member"
							class="img-responsive" id="img-1" style="width: 100%; linear-gradient(to right, rgba(255,255,255,0) 20%,
						rgba(255,255,255,1))">
						<hr>
						<p style=" font-family: 'Lobster', cursive;" id="text-1"></p>
	
	
	
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
	
					</div>
				
				</div>
			
			

		



			
			<form action="{% url 'home' slug_name %}" method="POST" enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-6">
						<hr>
						<h3>Моля попълни формата за присъствие </h3>
						<br>
						{% csrf_token %}
						{{ form_1.as_p }}
					</div>
					{% if guests_number == 1 %}
					<div class="col-md-6" id='add_new' hidden=True>
						<hr>
						<h3>Кого реши да вземеш със себе си?</h3>
						<br><br><br>
						{% csrf_token %}
						<br>
						{{form_2.as_p}}
					</div>
					{% else %}
					<div class="col-md-6" id='add_new'>
						<hr>
						<h3>Не пропускай отговор и тук</h3>
						<br>
						{{form_2.as_p}}
					</div>

					{% endif %}
				</div>




				<div class="container" style="margin-bottom: 10%; margin-top: 50px;">
					
					{% if guests_number == 1 %}
					<p>Желаеш да вземеш някого със себе си?</p>
					<p style="align-items: center;"> +1 <input type="checkbox" id='+1' name='add_guest'></p>
					{% endif %}
					<br><br>
					<button type="submit" class="btn btn-outline-success" id='button1' style="margin-left: 40% ;">Изпрати</button>
					
				</div>
			</form>
		</div>

	</div>
	{% endif %}

	<button type="button" class="collapsible" style="opacity: 0.5;">Къде ще празнуваме :)</button>
	<div class="content">
		<div style="width: 100%"><iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0"
				marginwidth="0"
				src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=%D0%92%D0%B8%D0%BB%D0%B0%20%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B0+(%D0%92%D0%B8%D0%BB%D0%B0%20%D0%B5%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B0)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
				href="https://www.maps.ie/route-planner.htm">Ще ви очакваме</a></div>

	</div>



	<!--
			<p>Collapsible Set:</p>
			<button type="button" class="collapsible">Open Section 1</button>
			<div class="content">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<button type="button" class="collapsible">Open Section 2</button>
			<div class="content">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<button type="button" class="collapsible">Open Section 3</button>
			<div class="content">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			</div>

			-->

	<!-- Google map -->
	<br><br>







	<!-- End Google map -->

	</section>

	<!--
        End Contact Us
        ==================================== -->






	<footer id="footer" style="background-color: white;">

		<p class="copyright text-center">
			<img src="{% static 'wedd_app/img/logo.png' %}" />
			<br>

			<span style="color: gray;">Copyright © 2021 made with</span> <i class="fa fa-heart-o fa-lg"
				style="color: plum;"></i><span style="color: gray;"> Designed & developed by</span> <a
				href="viber://chat/?number=%2B359879665760">VM</a>
		</p>



	</footer>

	<script>
		document.getElementById("+1")
			.addEventListener("click", function () {
				if (document.getElementById("add_new").hidden == true) {
					document.getElementById("add_new").hidden = false;
				}
				else {
					document.getElementById("add_new").hidden = true;
				}

				document.getElementById("awesome").hidden = false;
			}, false);

	</script>


	<!--
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function(){
				$(".btnm .fa-play-circle-o").on('click', function(){
					$(this).hide();
					$(".fa-pause-circle-o").fadeIn();
					$("#myMusic")[0].play();
				});

				$(".btnm .fa-pause-circle-o").on('click', function(){
					$(this).hide();
					$(".fa-play-circle-o").fadeIn();
					$("#myMusic")[0].play();
				});

				 });
		</script>

		-->

	<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>

	<!-- Essential jQuery Plugins
		================================================== -->
	<!-- Main jQuery -->
	<script src="{% static 'wedd_app/js/jquery-1.11.1.min.js' %}"></script>
	<!-- Single Page Nav -->
	<script src="{% static 'wedd_app/js/jquery.singlePageNav.min.js' %}"></script>
	<!-- Twitter Bootstrap -->
	<script src="{% static 'wedd_app/js/bootstrap.min.js' %}"></script>
	<!-- jquery.fancybox.pack -->
	<script src="{% static 'wedd_app/js/jquery.fancybox.pack.js' %}"></script>
	<!-- jquery.mixitup.min -->
	<script src="{% static 'wedd_app/js/jquery.mixitup.min.js' %}"></script>
	<!-- jquery.parallax -->
	<script src="{% static 'wedd_app/js/jquery.parallax-1.1.3.js' %}"></script>
	<!-- jquery.countTo -->
	<script src="{% static 'wedd_app/js/jquery-countTo.js' %}"></script>
	<!-- jquery.appear -->
	<script src="{% static 'wedd_app/js/jquery.appear.js' %}"></script>
	<!-- Contact form validation -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
	<!-- Google Map -->
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
	<!-- jquery easing -->
	<script src="{% static 'wedd_app/js/jquery.easing.min.js' %}"></script>
	<!-- jquery easing -->
	<script src="{% static 'wedd_app/js/wow.min.js' %}"></script>
	<script>
		var wow = new WOW({
			boxClass: 'wow',      // animated element css class (default is wow)
			animateClass: 'animated', // animation css class (default is animated)
			offset: 120,          // distance to the element when triggering the animation (default is 0)
			mobile: false,       // trigger animations on mobile devices (default is true)
			live: true        // act on asynchronously loaded content (default is true)
		}
		);
		wow.init();
	</script>
	<!-- Custom Functions -->
	<script src="{% static 'wedd_app/js/custom.js'%}"></script>

	<!--BOOTSTRAP-->
	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>





	<script>
		var i = 0;
		var txt = "Сърцата двама си отдаваме, живота да прекараме един до друг и твърдо ще го отстояваме завинаги като СЪПРУГА и СЪПРУГ.";
		var speed = 80;

		function typeWriter() {
			if (i < txt.length) {
				document.getElementById(id = "text-1").innerHTML += txt.charAt(i);
				i++;
				setTimeout(typeWriter, speed);
			}
		}

		typeWriter()

	</script>



	<script type="text/javascript">
		$(function () {
			/* ========================================================================= */
			/*	Contact Form
			/* ========================================================================= */

			$('#contact-form').validate({
				rules: {
					name: {
						required: true,
						minlength: 2
					},
					email: {
						required: true,
						email: true
					},
					message: {
						required: true
					}
				},
				messages: {
					name: {
						required: "come on, you have a name don't you?",
						minlength: "your name must consist of at least 2 characters"
					},
					email: {
						required: "no email, no message"
					},
					message: {
						required: "um...yea, you have to write something to send this form.",
						minlength: "thats all? really?"
					}
				},
				submitHandler: function (form) {
					$(form).ajaxSubmit({
						type: "POST",
						data: $(form).serialize(),
						url: "process.php",
						success: function () {
							$('#contact-form :input').attr('disabled', 'disabled');
							$('#contact-form').fadeTo("slow", 0.15, function () {
								$(this).find(':input').attr('disabled', 'disabled');
								$(this).find('label').css('cursor', 'default');
								$('#success').fadeIn();
							});
						},
						error: function () {
							$('#contact-form').fadeTo("slow", 0.15, function () {
								$('#error').fadeIn();
							});
						}
					});
				}
			});
		});
	</script>
</body>

</html>